.board {
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.boardHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333
}

.content {
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.card {
    width: 100%;
    background-color: #f9fafe;
    padding: 12px 16px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
}

.card:hover {
    background-color: #eef3fc;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.card a {
    color: #0047ab;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    width: fit-content;
}

.card a:hover {
    text-decoration: underline;
}

.card span {
    font-size: 14px;
    color: #666;
}

@media (max-width: 600px) {
    .board {
        margin-bottom: 20px;
    }

    .content div {
        font-size: 14px;
    }

    .content span {
        font-size: 12px;
    }
}